{% extends 'base.html' %}
{% block title %}首頁{% endblock %}
{% block style %}
<style>
    .todo-list {
        background-color: burlywood;
        margin: 12px auto;
        width: 600px;
        height: 200px;
        border-radius: 6px;

    }

    .date {
        background-color: chocolate;
        color: white;
        border-radius: 6px;
    }

    .text {
        background-color: cornsilk;
        border-radius: 6px;
        height: 100px;
        padding: 6px;
    }

    .important {
        color: crimson;
    }

    .com_time {
        font-size: 12px;
        color: black;
    }
</style>

{% endblock %}
{% block content %}
<h1>
    {% if completed %}
    Completed -Todo
    {% else %}
    Todo List
    {% endif %}

</h1>
{% for todo in todos %}
<div class="todo-list">
    <p class="date">{{todo.created}}
        <a href="{% url 'delete_todo' todo.id %}" onclick="return confirmDelete()">刪除</a>
        {% if todo.date_completed != None %}

        <span class="com_time">(完成時間:{{todo.date_completed}})</span>

        {% endif %}
    </p>
    <h3>
        <a href="{% url 'view_todo' todo.id %}">{{todo.title}}</a>
        {% if todo.important == True %}
        <span class="important">(重要)</span>
        {% endif %}
    </h3>
    <p class="text">{{todo.text}}</p>



</div>
{% endfor %}


{% endblock %}